### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### JetBrains ###
.idea/
*.iml
*.iws
*.ipr

### VS Code ###
.vscode/

### Xcode ###
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/

### Java / Maven ###
target/

### Node / Web ###
node_modules/
dist/
